p{
    font-family:  'Lucida Sans Unicode'
}

h1{
    font-family:  'Lucida Sans Unicode';
    letter-spacing: 5px;
    color: #629160;
    margin-left: 15%;    
}

h2{
    font-family:  'Lucida Sans Unicode';
    color:#5acf55
}

h3{
    font-family:  'Lucida Sans Unicode';
}

ul{
    font-family:  'Lucida Sans Unicode';
}

hr{
    color:#5acf55

}



