body{
    background-color: #e6e6e6;
}

h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffe478;
    color: #3f658f;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #7e91cf;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #7e91cf;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}                          